<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get client</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="text-align: center;">
<header class="container col-md-6 my-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/client/list}">Clients List </a>
                <a class="nav-item nav-link active" th:href="@{/client/create}">Create Client</a>
                <a class="nav-item nav-link active" th:href="@{/order/list}">Orders List</a>
                <a class="nav-item nav-link active" th:href="@{/order/create}">Create Order</a>
            </div>
        </div>
    </nav>
</header>
<form class="form">
    <div>
        <div>
            <p>Id: <span th:text="${client.id}"></span> </p>
        </div>
        <div>
            <p>First Name: <span th:text="${client.firstName}"></span> </p>
        </div>
        <div>
            <p>Last Name: <span th:text="${client.lastName}"></span> </p>
        </div>
        <div>
            <p>Email: <span th:text="${client.email}"></span> </p>
        </div>
        <div>
            <p>Phone: <span th:text="${client.phone}"></span> </p>
        </div>
        <div>
            <p>Address: <span th:text="${client.address}"></span> </p>
        </div>
        <div>
            <p>Zip Code: <span th:text="${client.zipCode}"></span> </p>
        </div>
        <div>
            <p>City: <span th:text="${client.city}"></span> </p>
        </div>
        <div>
            <p>Country: <span th:text="${client.country}"></span> </p>
        </div>
        <div>
            <p> State : <span th:text="${client.state == 1} ? 'actif' : 'inactif'"></span></p>
        </div>
        <div>
            <a th:href="@{/client/update/{id}(id=${client.id} )}" >Update</a>
            <a th:href="@{/client/delete/{id}(id=${client.id} )}" >Delete</a>
            <a th:href="@{/order/create/{id}(id=${client.id})}">Create Order</a>
        </div>
    </div>
</form>
<h1 style="text-align: center;">Orders list :</h1>

<table class="table table-striped" style="width:50%;">
    <thead class="table-dark">
    <tr>
        <td>Id</td>
        <td>Type de Prestation</td>
        <td>Désignation</td>
        <td>Nombre de jours</td>
        <td>Prix Unitaire</td>
        <td>Etat</td>
        <td>Action</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="order : ${orders}">
        <td> <a th:href="@{/order/{id}(id=${order.id} )}" th:text="${order.id}" ></a>  </td>
        <td th:text="${order.typePresta}" ></td>
        <td th:text="${order.designation}" ></td>
        <td th:text="${order.nbDays}" ></td>
        <td th:text="${order.unitPrice}" ></td>
        <td th:text="${order.state}" ></td>
        <td> <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/order/update/{id}(id=${order.id} )}" >Update</a></li>
                    <li><a class="dropdown-item" th:onclick="myFunction()" th:href="@{/order/delete/{id}(id=${order.id} )}" >Delete</a></li>
                </ul>
            </div>
        </div> </td>
    </tr>
    </tbody>
</table>

</body>
</html>