<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcom to FHK</title>
<link rel="stylesheet" href="intro.css" />
</head>
<body>
 <div class="header">FHK</div>

        <div class="container">
            <div class="text-wrapper">
                <div class="text-1 text">F    H     K</div>
                <div class="text-2 text">F    H     K</div>
                <div class="text-3 text">F    H     K</div>
                <div class="text-4 text">F    H     K</div>
                <div class="text-5 text">F    H     K</div>
                <div class="text-6 text">F    H     K</div>
                <div class="text-7 text">F    H     K</div>
                <div class="text-8 text">F    H     K</div>
                <div class="text-9 text">F    H     K</div>
                <div class="text-10 text">F    H     K</div>
                <div class="text-11 text">F    H     K</div>
            </div>
        </div>
        <script>
        setTimeout(function () {
            window.open('/home', '_blank');
        }, 7500);
        </script>
</body>
</html>